<!doctype html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <style>

    div,table{
      width: 400px;
      text-align: left center;
      border: 2px solid black;
      padding: 30px;
      background-color:#17BEBB;
    }
    table{
      background-color:#EDB88B;
    }
    input.ng-dirty.ng-invalid {
      border-color: red;
    }

    th{
      padding-bottom: 40px;
      text-align: left center;

    }
    td{
      text-align: center;
    }


    </style>
  </head>
  <body>

    <div id="shoppingList" ng-controller="ShoppingListCtrl">

      <h3>Alışveriş Listesi</h3>

      <table>
        <thead>
          <tr>
            <th>Ürün</th>
            <th>Alındı mı?</th>
          <tr>
        </thead>
        <tr ng-repeat="urun in urunler">
          <td>{{urun.id}}</td>
           <td>{{urun.tckn}}</td>
            <td>{{urun.firstname}}</td>
             <td>{{urun.surname}}</td>
           
          
        </tr>
      </table>

      <br>

      <label>Ürün gir  :
        <input type="text" ng-model="yeniUrun" />
      </label>
      <button ng-click="urunEkle(yeniUrun)">Ekle</button>

      <h4>{{urunHata}} </h4>

    </div>

    <br><br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/angular.js"></script>

  </body>
</html>
